# Désactiver l'affichage des dossiers
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Si votre projet est dans un sous-dossier, décommentez la ligne suivante :
    # RewriteBase /CI4/public/

    # Rediriger vers HTTPS si nécessaire (optionnel)
    # RewriteCond %{HTTPS} off
    # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Vérifier si le fichier ou dossier existe physiquement
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Sinon, envoyer la requête à index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>